---
layout: default
---

{% for navitem in site.data.navigation %}
  {% if navitem.title != "bio" %}
  <section id="{{navitem.title | downcase}}-hero" class="hero">
    <div id="{{navitem.title | downcase}}" data-menu-offset="-150">
      <div class="{{navitem.title | downcase}}-inner">
        <h2>{{ navitem.title }}</h2>
        {% if navitem.title == 'works' %}
          {% include works.html %}
        {% endif %}
        {% for page in site.pages %}
          {% if navitem.title == 'works' %}

          {% elsif page.title == navitem.title %}
            {{ page.content | markdownify }}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
{% endfor %}
