---
layout: default
---

{% for page in site.data.navigation %}
  {% if page.title != "bio" %}
  <section id="{{page.title | downcase}}-hero" class="hero">
    <div id="{{page.title | downcase}}" data-menu-offset="-150">
      <div class="{{page.title | downcase}}-inner">
        <h2>{{page.title}}</h2>
        {% for pagecontent in site.pages %}
          {% if pagecontent.title == page.title %}
            {{pagecontent.content}}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
{% endfor %}
