<footer class="site-footer" role="contentinfo">

  <div class="footer-links">
    <a target="_blank" alt="Soundcloud" href="https://soundcloud.com/unclewalter/"><i class="icon-soundcloud"></i></a>
    <a target="_blank" alt="Instagram" href="https://www.instagram.com/theimaginarykevanatkins/"><i class="icon-instagram"></i></a>
    <a target="_blank" alt="Vimeo" href="https://vimeo.com/kevanatkins/"><i class="icon-vimeo"></i></a>
    <a target="_blank" alt="Github" href="https://github.com/unclewalter/"><i class="icon-github"></i></a>
    <a target="_blank" alt="Linkedin" href="https://au.linkedin.com/in/kevanatkins/"><i class="icon-linkedin"></i></a>
    <a target="_blank" alt="Facebook" href="https://www.facebook.com/KevanAtkins/"><i class="icon-facebook"></i></a>
  </div>

  <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//kevanatkins.us12.list-manage.com/subscribe/post?u=8f595de868dc5b02d2db546e7&amp;id=b1fde2fc51" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to my mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8f595de868dc5b02d2db546e7_b1fde2fc51" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

  <hr>

  <p>Copyright © {{ 'now' | date: "%Y" }} Kevan Atkins {{}}</p>
</footer>

<script src="/assets/js/app.js"></script>
