<footer class="site-footer" role="contentinfo">

  <div class="footer-links">
    <a href="#"><i class="icon-instagram"></i></a>
    <a href="#"><i class="icon-facebook"></i></a>
    <a href="#"><i class="icon-linkedin"></i></a>
    <a href="#"><i class="icon-vimeo"></i></a>
    <a href="#"><i class="icon-github"></i></a>
    <a href="#"><i class="icon-youtube"></i></a>
    <a href="#"><i class="icon-soundcloud"></i></a>
  </div>

  <hr>

  <p>Copyright © {{ 'now' | date: "%Y" }} Kevan Atkins {{}}</p>
</footer>

<script src="/assets/js/app.js"></script>
