<header>
	<div class="site-nav">
		{% for link in site.data.navigation %}
		  <label>
		    <a class="site-nav-item" href="#{{ link.url }}">{{ link.title }}</a>
		  </label>
	 {% endfor %}
</div>

</header>

<section id="intro">
  <div class="site-logo">
    <h1>Kevan Atkins</h1>
		<h2>Composer | Sound Artist</h2>
		<span class="more"><i class="icon-down-open-big"></i></span>

  </div>
  <div id="about" data-menu-offset="-150">
		<div class="about-inner">
			<h2>bio</h2>
			{% for page in site.pages %}
				{% if page.title == "bio" %}
					{{ page.content }}
				{% endif %}
			{% endfor %}
		</div>
  </div>
</section>
