<div class="work-categories">
  <div class="inner">
    <a href="javascript:void()" class="filter" category-filter="all">show all</a>
    {% for category in site.data.categories %}
    <a href="javascript:void()" class="filter" category-filter="{{ category | slugify }}">{{ category }}</a>
    {% endfor %}
  </div>
</div>

{% for work in site.works reversed %}
<article class="works-item {% for category in work.categories %}category-{{ category | slugify }} {% endfor %}">
  <a data-featherlight="#{{ work.title | slugify }}"><h3>{{ work.title }}</h3></a>
</article>
{% endfor %}

<div class="featherlight">
  {% for work in site.works %}
  <div id="{{ work.title | slugify }}">
    {{ work.content }}
  </div>
  {% endfor %}
</div>
