<div class="work-categories">
  <div class="inner">
    <a href="#" class="filter" category-filter="all">show all</a>
    {% for category in site.data.categories %}
    <a href="#" class="filter" category-filter="{{ category | slugify }}">{{ category }}</a>
    {% endfor %}
  </div>
</div>

{% for work in site.works reversed %}
<span class="works-item {% for category in work.categories %}category-{{ category | slugify }} {% endfor %}">
  <a data-featherlight="#{{ work.title | slugify }}"><h3>{{ work.title }}</h3></a>
</span>
{% endfor %}

<div class="featherlight">
  {% for work in site.works %}
  <article id="{{ work.title | slugify }}">
    <h2>{{ work.title }}</h2>
    <span class="work-head-details">{{work.role}}{% if work.client %} | {% if work.client_link %}<a href="{{ work.client_link }}">{{work.client}}</a>{% else %}{{work.client}}{% endif %}{% endif %}</span>
    {{ work.content }}
  </article>
  {% endfor %}
</div>
