body, html {
  height: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  background-color: #000;
}

#intro {
  @extend .hero;
  background-image: url("/assets/img/header3.gif");

  .more {
    font-size: 6em;
    color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: flex-end;
    height: 100%;
    .icon-down-open-big {
      width: 100%;
    }
  }

  .site-logo {
    @extend .block;
    margin-bottom: 2730px;
  }
}

#works-hero {
    background-image: url("/assets/img/noise.gif");
}
#projects-hero {
    background-image: url("/assets/img/noise-inv.gif");
}
#blog-hero {
    background-image: url("/assets/img/noise.gif");
}
#events-hero {
    background-image: url("/assets/img/header3.gif");
}
#contact-hero {
    background-image: url("/assets/img/header_kevanparis.jpg");
}

#bio {
  @extend .block;
  margin-bottom: -5em;

  .bio-inner {
    transform: skewY(-1deg);

  }
  p {
    transform: skewY(1deg);
  }
}

#works {
  @extend .block;
  article {
    background-color: #000;
    padding: 0.8em;
    display: inline-block;
    transform: skewY(-1.5deg);
    margin: 0.7em;
    margin-bottom: 2em;
    h3, a {
      transform: rotate(0);
      margin: 0;
      padding-bottom: 0.1em;
      color: #fff;
      font-size: 1.3em;
      border-bottom: 4px solid #000;
      :hover {
        border-bottom: 4px solid #fff;
      }
    }
  }
  margin-top: 2430px;
  padding: 0;
  .works-inner {
    background-color: #fff;
    transform: skewY(1.5deg);
    transform-origin: 100%;
    margin-bottom: -3em;
    padding-top: 0;
    .featherlight {
      color: #000;
    }
  }
  h2 {
    color: #000;
  }
  p {
    color: #444;
  }


}

#projects {
  @extend .block;
  margin-top: 2430px;
  .projects-inner {
    background-color: #000;
    h2 {
      color: #fff;
    }
    p {
      color: #fff;
    }
  }
}
#blog  {
  @extend .block;
  margin-top: 2430px;
  .blog-inner {
    background-color: #eee;
    h2 {
      color: #000;
    }
    p {
      color: #000;
    }
  }
}
#events {
  @extend .block;
  margin-top: 2430px;
}
#contact {
  @extend .block;
  margin-top: 2430px;
  text-align: center;
  form {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    textarea {
      height: 240px;
    }
    [type="submit"] {
      width: 100%;
      max-width: 250px;
      background-color: #000;
      font-family: 'VT323';
      font-size: 2em;
      padding: 0.2em;
    }
  }
}
