@import url(https://fonts.googleapis.com/css?family=Monofett|Press+Start+2P|Six+Caps|Wire+One|Anonymous+Pro|Nova+Mono|Share+Tech+Mono|VT323|Open+Sans+Condensed:300|Yanone+Kaffeesatz|Orbitron|Changa+One);

p, h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

.featherlight {
  p, h1, h2, h3, h4, h5, h6, a {
    color: #000;
  }
  a {
    font-size: 1em;
  }
  ol, ul {
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3em;
    margin-left: 1.5em;
    text-indent: .5em;
    margin-bottom: 0.7em;
  }
  ol {
    list-style: decimal;
  }
  ul {
  }
  span.work-head-details {
    margin-left: 0.4em;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;
    color: #aaa;
    a {
      color: #aaa;
    }
  }
  a:hover {
    text-decoration: underline;
  }
}

p, a {
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
}



$font-stack-system: 'Yanone Kaffeesatz', sans-serif;

.site-nav label {
  font-size: 1.5em;
}

h2, h3, h4 {
  font-family: 'VT323';
}

h2 {
  line-height: 0.7em;
  font-size: 2em;
  margin: 0;
}

.block h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

h3 {
  font-size: 2em;
  line-height: 1em;
}

#intro {
  h1 {
    font-family: 'Press Start 2P', monospace;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000;
  }
  h2 {
     text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 4px 4px #000, -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000; 
  }
}

#events-hero {
  .events-inner {
    a {
      color: #ddd;
      font-size: 1.0em;
      text-transform: uppercase;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
