.site-footer {
  $base-spacing: 1.5em !default;
  $action-color: #000 !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: #000;
  $footer-color: #fff;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);



  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: $base-spacing;
  }

  a {
    color: $footer-link-color;
    text-decoration: none;
    margin: 0 0.1em;
    font-size: 4em;
    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
