.hero {
  $large-screen: 50em !default;
  align-items: baseline;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000;
  display: block;
  justify-content: center;
  min-height: 100%;
  padding-top: 9em;

}

@media only screen
// and (min-device-width : 414px)
and (max-device-width : 736px)
and (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-attachment: scroll;
    background-size: 600px 600px!important;
    background-repeat: repeat;
    background-image: url("/assets/img/noise-flat.gif")!important;
  }
  #intro {
      background-image: url("/assets/img/animation-90deg.gif")!important;
      background-size: 100% auto!important;
      background-repeat: no-repeat!important;
  }
}

.block {
  min-width: 100%;
  text-align: center;
  color: #fff;
  clear: both;
  display: table;
  [class*="-inner"] {
    width: 100%;
    padding: 2em;
    background-color: #222;
    p {
      text-align: justify;
    }
  }
}
