---
layout: default
format: works-index
# Don't index these pages dear Google.
noindex: true
header:
   image_fullwidth: "header_kevanparis1.jpg"
---

<div class="row">
	<h1>Works</h1>
	<div id="filters" class="button-group"> <a class="filter" category-filter="all">show all</a> | 
	  <a class="filter" category-filter="film">film</a> | 
	  <a class="filter" category-filter="theatre">theatre</a> | 
	  <a class="filter" category-filter="instrumental">instrumental</a> | 
	  <a class="filter" category-filter="electronic">electronic</a> | 
	  <a class="filter" category-filter="electroacoustic">electroacoustic</a>
	</div>
</div>

<div class="row">
	<p>Under Construction.</p>
</div>
<div id="works-container" class="row">
	<div class="works-list">
	{% for work in site.works reversed %}
	<div class="works-item {% for category in work.categories %} category-{{ category | slugify }}{% endfor %}" style="">
	  <h2 class="work-title"><a href="{{ site.url }}{{ work.url }}">{{ work.title }}</a> <small class="date"> - {{ work.date }}</small></h2>
	  <h4>{{ work.role }}</h4>

	  <p>{{ work.teaser }}</p>
	    
  </div>
{% endfor %}
</div>
</div><!-- /.row -->

