---
layout: default
format: works-index
# Don't index these pages dear Google.
noindex: true
header:
   image_fullwidth: "header_kevanparis1.jpg"
---
<div class="row">
	<h1>Works</h1>
</div>

<div class="row works">
	{% for work in site.works reversed %}
	<article class="row works-item {% for category in work.categories %} category-{{ category | slugify }}{% endfor %}">
	  <h2 class="work-title"><a href="{{ site.url }}{{ work.url }}">{{ work.title }}</a> <small class="date"> - {{ work.date }}</small></h2>
	  <h4>{{ work.role }}</h4>

	  <p>{{ work.teaser }}</p>
	    
  </article>
{% endfor %}
</div><!-- /.row -->